%p
  %span#message
    - if @winner
      = h(@winner.message)
    - else
      Nothing to see here yet.

%p
  %button.change Change what this says.
  .editing-buttons
    %button.nevermind Nevermind
    %button.submit Submit

%p
  %a(href='/queue') View all messages in the queue

%form(action='/messages' method='POST')
  %input(type='hidden' name='message')
