%p
  %span#message= h(@message.message)

%p
  To see your change on the front page, send a payment of at least .004 BTC to
  the following address:

%p
  = haml :_address, :locals => {:address => @message.address}

%img(src="/qrcode/#{@message.address}.png")

%p
  Your message will be displayed for 10 minutes, or until someone else submits a
  higher payment.

%p
  If your message is bumped off, the clock will stop ticking and will resume when
  your message is reactivated.

%p
  You are free to send in more payments later.

%p
  %a(href='/queue') View a queue of all messages